<footer class="footer">
    <span class="footer__copyright">All material licensed as <a href="https://github.com/whaatt/Tautology/blob/master/License.md">Tautology</a> compliant.</span>
    <span class="footer__copyright"><a href="http://uno.daleanthony.com">Uno Theme</a> by <a href="http://daleanthony.com">Dale Anthony</a> and Sanjay Kannan.</span>
    <span class="footer__copyright">Proudly published with some reluctance to <a href="http://ghost.org">Ghost</a>.</span>
</footer>