<hr class="post-list__divider " />

<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="" href="{{pageUrl prev}}">
    {{/if}}
	&lt;
    {{#if prev}}
	</a>
    {{/if}}
    <span class="pagination__page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="" href="{{pageUrl next}}">
    {{/if}}
	&gt;
    {{#if next}}
	</a>
    {{/if}}
</nav>
