<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <!-- GitHub -->
    <li class="navigation__item">
      <a href="https://github.com/whaatt" title="Git me.">
        <i class='icon icon-social-github'></i>
        <span class="label">GitHub</span>
      </a>
    </li>

    <!-- Stack Overflow -->
    <li class="navigation__item">
      <a href="http://stackoverflow.com/users/1505256/whaatt" title="Stack me.">
        <i class='icon icon-social-stack-overflow'></i>
        <span class="label">Stack Overflow</span>
      </a>
    </li>

    <!-- LinkedIn -->
    <li class="navigation__item">
      <a href="http://www.linkedin.com/in/whaatt" title="Link me.">
        <i class='icon icon-social-linkedin'></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>

    <!-- RSS  -->
    <li class="navigation__item">
      <a href="/glob/feed" title="Subscribe me.">
        <i class='icon icon-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li>

    <!-- Contact -->
    <li class="navigation__item">
      <a href="/glob/contact" title="Contact me.">
        <i class='icon icon-mail'></i>
        <span class="label">Contact</span>
      </a>
    </li>
  </ul>
</nav>
