{{!< default}}
  {{#contentFor "meta"}}
    <!-- Classic Meta Tags -->
    <title>Page Not Found</title>
    <meta name="description" content="In other words, I couldn't find your page.">

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Page Not Found"/>
    <meta property="og:site_name" content="{{@blog.title}}"/>
    <meta property="og:description" content="In other words, I couldn't find your page."/>

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Page Not Found"/>
    <meta name="twitter:description" content="In other words, I couldn't find your page."/>
    <meta name="twitter:creator" content="@whaatt"/>
  {{/contentFor}}

  <article class="post-container post-container--single">
    <header class="post-header">
      <h1 class="post-title">Page not found.</h1>
    </header>

    <section class="post page">
      <p>A lot of people are scared of spiders, or heights, or confined spaces. But my biggest fear is probably awkwardness, like the 30-second player interviews on JEOPARDY.</p>

      <p>Nailing the perfect introduction requires poise. Deliver a speech about being a luxury tax accountant, and you can almost pinpoint the moment when Alex Trebek decides to abort mission. But God forbid you're the quiet type, and he tries to salvage your monosyllabic responses with a dad joke. Either way the tension is unbearable, kind of like the time Ken Jennings <a href="https://www.youtube.com/watch?v=KoPFkjF-Bdo">asked</a> "what's a hoe."</p>
    </section>
  </article>
