{{!< defaultError}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <h1 class="post-title">This is awkward.</h1>
    </header>

    <section class="post page">
      <p>In other words, I couldn't find your page. Don't fret, however! Check the <a href="/legacy">legacy</a> version of Skalon and then contact me if you're still having trouble. I know it can be frustrating when I'm scrapping my blogging platforms on a yearly basis, but I hope that <em>Ghost</em> will be here to stay for a while. Viel Spaß!</p>
    </section>

  </article>

